*{
	margin: 0;
	padding: 0;
	border:0;
	font-size: 62.5%;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.books{
	width: 100%;
	height: 1000px;
/*	float: left;*/
	margin: 0 auto;
}
.books h3{
	font-size: 2.4rem;
	margin-bottom: 1rem;
}
.item{
	padding: 0;
	margin: 0;
/*	float: left;*/
    
}
.item ul {
	width: 100%;
	float:left;
}
.item ul li{
	float:left;
	width:20rem;
	height: 23rem;
	margin: 2rem;
}
.item a{
	display: block;
}
.item img{
	height: 20rem;
	width: 19.9rem;
	display: block;
	border: 1px solid #e5e8ef;

	/*vertical-align: middle;*/
	/*vertical-align: top;*/
}
.item .desc{
	margin:0;

    text-align: center;
	height: 2rem;
	background-color: #fff;
	color: #000;
	border: 1px solid #e5e8ef;
    /*border-top: 0;*/
}

