*{
	margin: 0;
	padding: 0;
	border:0;
	font-size: 62.5%;
}
body{
	background-color: #f4f6f8;
}
ul{
	list-style: none;
	padding:0;
	margin: 0;
}
a{
	text-decoration: none;
}
.head{
	height: 8rem;
	border-bottom: 1px solid #555;
	background-color: #fff;
	min-width:1260px;
   /* display: flex;
    align-items: center;*/
}

.head-box{
	margin:0;
	padding:0;
	
    padding-top: 3rem;
    padding-bottom: 3rem;
   
}
.head-box ul li{
	margin: 0 2rem;
	float:left;
}
.txt ul li{
float: left;
}

.logo{
	text-align: center;
	color:#c9b4a1;
	font-size: 2.4rem;
}


.head-box a,.login a{
	color: #999;
	font-size: 2.4rem;
    text-decoration: none;
}
.head-box a:hover{
	color: #3dca99;
	font-weight:700;
	border-bottom: 1px solid #3dca99;
}
.login{
    float:right;
	text-align: center;
	color: #000;
    margin-right:20px;
}
.login a:hover{
	color: #333;
	border-bottom: 1px solid #00b38a;
}
.head-box:after{
	clear:both;
}
.head-box:after{
	content:"";
	display:table;
}
/*广告图片*/
/*.advert{
	clear: both;
	width:100%;
	height: 400px;

}

.middle{
	width: 100%;
	height: 400px;
	background-color: #c8b4a0;
    float: left;
}

.left{
	width: 320px;
	height: 400px;
	background-color: #b4283c;
	float:left;
	margin-left:-100%;
}

.small-pic li{
    width: 320px;
	height: 198px;
	background-color: #b4283c;
}
.small-2{
	margin-top: 4px;
}

.right{
	width: 200px;
	height: 400px;
	background-color: #787878;
	float:left;
	margin-left:-200px;
}
.inner{
	margin-left: 330px;
	margin-right: 210px;
}*/

.container{
	padding-right:15px;
	padding-left:15px;
	padding-top: 15px;
	margin:0 auto;
	min-width:1230px ;
	width:1230px ;
   position: relative;
}
.container .first{
	text-align:center;
	color:#cfcfcf;
	font-size:2.8rem;
	background-color:#fff;
    width:100%;
    margin-bottom:2rem;
}
.bo-left{
	width: 150px;
	padding:10px 0;
	margin:0 auto;
	background-color: #fff;
	position: absolute;
	-webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,0.3);
	box-shadow:0 5px 10px 0 rgba(0,0,0,0.3);
	
}
/*广告区域样式*/
.advertising-content{
	width:150px;
	height:620px;
	position: absolute;
	top:280px;
	text-align:center;
	margin:30px 0;
	background-color:#fff;
	border:1px solid #555;
}
.content-img{
	width:100%;
	margin:10px auto;
}
.content-img{
	display:block;
	width:64px;
	height:64px;
}
.nav{
	
}
.nav .one{
background:url("../icon/web.png") no-repeat 20px center;
background-size:20px 20px;
}
.nav .two{
background:url("../icon/account.png") no-repeat 20px center;
background-size:20px 20px;
}
.nav .three{
background:url("../icon/add.png") no-repeat 20px center;
background-size:20px 20px;
}
.nav .four{
background:url("../icon/favorite.png") no-repeat 20px center;
background-size:20px 20px;
}
.nav .five{
background:url("../icon/office.png") no-repeat 20px center;
background-size:20px 20px;
}
.bo-left .nav>li>a{
	display: block;
	line-height: 40px;
	background-color: #fff;
	padding:0 20px;
	color:#000;
	font-size: 16px;
	text-align: center;

}
.nav>li>a:hover{
  color:#c9b4a1;
}
.nav>li:active>a{
  color:#fff;
  background-color:#c9b4a1;
}
.bo-main{
	margin-left: 180px;
	position: relative;
	height: 600px;
}
.bo-main-left{
	float: left;
	width: 100%;
}
.bo-main-right{
	float: left;
	margin-left: -310px;
	width: 310px;
	
}
.bo-main:before,.bo-main:after{
	content:"";
	clear: both;
	display: block;
	visibility: hidden;
	zoom:1;
}
/*做笔记*/
.note{
	display: block;
	font-size: 18px;
	width: 310px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	background-color: #fff;
}
.note-a{
	display: block;
	color:#000;
	background:url("../icon/edit.png") no-repeat 100px center;
    background-size:20px 20px;
}
.note a:hover{
  color:#c9b4a1;
}
.note a:active{
  color:#fff;
  background-color:#c9b4a1;
}
/*推荐主题和热门技术文章*/
.theme,.hot-article{
	
	background-color: #fff;
	margin-top:20px;
	height: 500px;
	/*text-align: center;*/
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow:hidden;
}
.theme-box,.hot-article-box{
	position:relative;
	max-width:100%;
	height:500px;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
}
.theme-box h3,.hot-article-box h3{
	height:18px;
	line-height:18px;
	border-left:4px solid #ef2f11;
	font-size:1.8rem;
	padding-left:8px;

}
.theme-box ul li,.hot-article-box ul li{
  margin-top:20px;
}
.theme-box  a:hover,.hot-article-box a:hover{
color:#f00000;
}
.theme-box span,.hot-article-box span{
	position:absolute;
	bottom:20px;
	left:0;
	right:0;
	border-top:1px solid #555;
	display:block;
	text-align:center;
	height:40px;
	line-height:40px;
	cursor:pointer;
	font-size:1.2rem;
}
.bo-main-left-content{
	margin-right: 340px;
}

/*<!--广告滚动样式表-->*/
 #banner {
            position: relative;
            width: 680px;
            height: 239px;
            overflow: hidden;
            margin-bottom:20px;
        }
        
        #list {
            position: absolute;
            z-index: 1;
            width: 4760px;
            height: 239px;
        }
        
        #list img {
            float: left;
            width: 680px;
            height: 239px;
        }
        
        #buttons {
            position: absolute;
            left: 300px;
            bottom: 20px;
            z-index: 2;
            height: 10px;
            width: 100px;
        }
        
        #buttons span {
            float: left;
            margin-right: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
        }
        
        #buttons .on {
            background: orangered;
        }
        
        .arrow {
            position: absolute;
            top: 100px;
            z-index: 2;
            display: none;
            width: 40px;
            height: 40px;
            font-size: 36px;
            font-weight: bold;
            line-height: 39px;
            text-align: center;
            color: #fff;
            background-color: rgba(0, 0, 0, .3);
            cursor: pointer;
        }
        
        .arrow:hover {
            background-color: rgba(0, 0, 0, .7);
        }
        
        #banner:hover .arrow {
            display: block;
        }
        
        #prev {
            left: 20px;
        }
        
        #next {
            right: 20px;
        }
        .bo-main-left-content:before,#banner:after{
        	   content:"";
	          clear: both;
	         display: block;
	        visibility: hidden;
	       zoom:1;
        }
        
 #banner:before,#banner:after{
    content:"";
	clear: both;
	display: block;
	visibility: hidden;
	zoom:1;
} 
.container-box:before.container-box:after{
	content:"";
	clear: both;
	display: block;
	visibility: hidden;
	zoom:1;

}
/*<!--广告滚动样式表-->*/



/*广告栏*/
/*
.banner{
	width: 680px;
	height: 239px;
	background-color: #c8b4a0;
	margin-bottom: 20px;
}
*/
/*文章*/
.article{
	margin-bottom: 20px;
	text-align: center;
}
.article .item{
	width: 680px;
	height:200px;
	background-color: #fff;
	border: 1px solid #555;
	margin-bottom: 10px;
}
.item a{
	color: #000;
	font-size: 2.4rem;
	font-weight: bold;
}

.wrapper{
	min-width:1260px;
	clear:both;
	text-align:center;
	padding:15rem 15rem;
	border:1px solid #000;
	background-color:#fff;
	margin-bottom:2rem;
    box-sizing: border-box;
	-moz-transition:background-color .5s ease-in;
	-webkit-transition:background-color .5s ease-in;
	-o-transition:background-color .5s ease-in;
	-ms-transition:background-color .5s ease-in;
	transition:background-color .5s ease-in;
}
.wrapper:hover{background-color:#000;}






/*侧边栏*/
.fixed-bar{
	clear:both;
	position: fixed;
	right: 1rem;
	z-index: 1000;
	bottom: 7rem;
	border: 1px solid #555;
}
.fixed-bar ul{
margin: 0;
padding: 0;
}
.fixed-bar ul li{
/*height: 52px;
width: 52px;*/
background-color: #fff;
}
.fixed-bar a{
	color:#000;
	display: block;
	text-align: center;
	/*width: 100%;
	height: 100%;*/
	background-color: #fff;
}


.footer:before.footer:after{
	content:"";
	clear: both;
	display: block;
	visibility: hidden;
	zoom:1;

}


.footer{
	clear: both;
    min-width:1260px;
    z-index:10;
	color: #fff;
    height: 40rem;
	background-color: #212425; 
	text-align: center;
}

.footer p{
	padding-top:3rem;
	color: #fff;
	font-size: 2rem;
}
.footer h3{
	font-weight:bold;
}

.footer .a-flex{
	display:flex;
	width:100%;
	height:30rem;
	padding:15px;
	box-sizing: border-box;
	list-style:none;
}
.a-flex li{
	flex:1;
	background-color:#666;
	margin-left:10px;
	color:#000;
}
.a-flex li:hover{
	opacity:0.5;
	color:#555;
}
.b-flex li{
	margin-top:1rem;
}
.b-flex  a{
	color:#fff;
}
.b-flex a:hover{
	color:#fff;
	text-decoration:underline;
}
